<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/java" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>calculator</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>validationServlet</display-name>
    <servlet-name>validationServlet</servlet-name>
    <servlet-class>validationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>validationServlet</servlet-name>
    <url-pattern>/validationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>add</display-name>
    <servlet-name>add</servlet-name>
    <servlet-class>add</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>add</servlet-name>
    <url-pattern>/add</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>resp</display-name>
    <servlet-name>resp</servlet-name>
    <servlet-class>resp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>resp</servlet-name>
    <url-pattern>/resp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Sub</display-name>
    <servlet-name>Sub</servlet-name>
    <servlet-class>Sub</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Sub</servlet-name>
    <url-pattern>/Sub</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>mulp</display-name>
    <servlet-name>mulp</servlet-name>
    <servlet-class>mulp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>mulp</servlet-name>
    <url-pattern>/mulp</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>divp</display-name>
    <servlet-name>divp</servlet-name>
    <servlet-class>divp</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>divp</servlet-name>
    <url-pattern>/divp</url-pattern>
  </servlet-mapping>
</web-app>